body {
}

.bg {
    text-align: center;
    background-color: dodgerblue;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.panels {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.list {
    margin-bottom: 3rem;
    margin-top: 2rem;
}